@charset "utf-8";
@import url("./reset.css");
@import url("./common.css");

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// main
#main {
  height: 300vh;
  .main_content {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    .main_video {
      width: 100%;
      height: 100%;
      video {
        width: 100%;
        height: 100%;
        @include position-center();
      }
    }
    .main_title {
      border-radius: 30px;
      border: 1px solid #333;
      backdrop-filter: blur(30px);
      background: rgba($color: #4d4d4d, $alpha: 0.1);
      padding: 30px;
      position: absolute;
      top: 18vh;
      left: 10vw;
      opacity: 0;
      transition: opacity 0.5s;
      h2 {
        font-size: 6vw;
        font-weight: 500;
      }
    }
    .main_description {
      border-radius: 30px;
      border: 1px solid #333;
      padding: 30px;
      backdrop-filter: blur(30px);
      background: rgba($color: #4d4d4d, $alpha: 0.1);
      position: absolute;
      top: 45vh;
      right: 10vw;
      opacity: 0;
      transition: opacity 0.5s;
      p {
        font-size: 2vw;
        font-weight: 300;
        line-height: 1.4;
      }
    }
    .main_description2 {
      border-radius: 30px;
      border: 1px solid #333;
      padding: 30px;
      backdrop-filter: blur(30px);
      background: rgba($color: #4d4d4d, $alpha: 0.1);
      position: absolute;
      top: 65vh;
      left: 25vw;
      opacity: 0;
      transition: opacity 0.5s;
      p {
        font-size: 1.5vw;
        font-weight: 300;
        line-height: 1.4;
      }
    }
  }
}
// visual
#visual {
  height: 100vh;
  .visual_content {
    width: 100%;
    height: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .visual_wrap {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .visual_item {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .visual_text_wrap {
          transition: opacity 0.5s, transform 0.5s;
          .visual_text {
            font-size: 7vw;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
          }
        }
        .visual_text_wrap:nth-child(1) {
          transform: translateY(100%);
          opacity: 0;
        }
        .visual_text_wrap:nth-child(2) {
          opacity: 0;
        }
        .visual_text_wrap:nth-child(3) {
          transform: translateY(-100%);
          opacity: 0;
        }

        .visual_video {
          width: 0;
          opacity: 0;
          height: 120px;
          transition: width 0.5s, opacity 0.5s;

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .visual_img {
          width: 120px;
          height: 120px;
          opacity: 0;
          transition: opacity 0.5s;
        }

        .visual_icon {
          opacity: 0;
          transition: opacity 0.5s;
        }
      }
    }
  }
}
// project
#project {
  height: 800vh;
  position: relative;

  .project_content {
    height: 100vh;

    position: sticky;
    top: 0;
    @include flex-center();
    .project_bg {
      position: absolute;
      width: 400px;
      height: 400px;
      z-index: -1;
    }
    .project_bg:nth-child(1) {
      top: 0;
      left: 0;
    }
    .project_bg:nth-child(2) {
      bottom: 0;
      right: 0;
      transform: scaleX(-1);
    }
    .project_list {
      width: 100%;
      height: 100%;
      @include flex-center();
      padding: 0 100px;
      box-sizing: border-box;
      .item_inner {
        width: 100%;
        height: 100%;
        @include flex-center();
        gap: 20px;
        flex-direction: column;

        .project_img {
          width: 1000px;
          height: 860px;
          padding: 30px;
          box-sizing: border-box;
          background-color: rgba($color: #999, $alpha: 0.1);
          backdrop-filter: blur(30px);
          border-radius: 20px;
          a {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.project_list .project_item1,
.project_list .project_item2,
.project_list .project_item3,
.project_list .project_item4,
.project_list .project_item5 {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.project_content {
  .project_description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 20px;
      text-transform: uppercase;
    }
    a {
      padding: 10px 18px;
      border-radius: 30px;
      margin-top: 20px;
      background: rgba($color: #999, $alpha: 0.2);
      backdrop-filter: blur(30px);
      border: 1px solid #333;
      line-height: 1;
      font-weight: 600;
    }
  }
}
